@import "./mixins.scss";

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--black-color);
  padding: 0 20px;
  .heroTitle {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    @include for-desktop-up {
      font-size: 4rem;
    }
  }
  .heroSubtitle {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
    text-align: center;
    @include for-desktop-up {
      font-size: 2rem;
    }
  }
  .heroBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    .heroBtn {
      display: flex;
      align-items: center;
      margin: 0.5rem 0.5rem;
      padding: 1rem 1rem;
      border: 0px solid var(--black-color);
      box-shadow: var(--shadow-xl);
      border-radius: 5px;
      font-size: 1.6rem;
      font-weight: 400;
      &:first-child {
        background: var(--black-color);
        color: var(--white-color);
        &:hover {
          background: var(--white-color);
          color: var(--black-color);
          border: 0px solid var(--black-color);
        }
      }
      &:hover {
        background-color: var(--black-color);
        color: var(--white-color);
        transition: var(--transition-0_3);
      }
      .heroBtnIcon {
        margin-right: 0.5rem;
      }
    }
  }
}
